{% extends 'base.html' %}

{% block title %}
Sharing Thoughts
{% endblock title %}

{% block content %}
  <div id="title">
    <h1>Hello World</h1>
  </div>

  <script>
    const xhr = new XMLHttpRequest()
    const method = 'GET'
    const url = '/tweets'
    const responseType = 'json'
    const titleBlock = document.getElementById('title')
    titleBlock.innerHTML = 'Loading...'
    var tweets_list = ''

    function handleLikes(likes) {
      return likes += 1;
    }

    const formatTweet = (tweet) => {
      return `<div id="tweet-${tweet.id}" class="border p-3 my-2">
              <h3>${tweet.content}</h3>
              <button class="btn btn-sm btn-outline-dark" onclick="handleLikes(${tweet.likes})">Like <span>${tweet.likes}</span></button>
              </div>`
    }

    xhr.responseType = responseType
    xhr.open(method, url)
    xhr.onload = function() {
      serverResponse = xhr.response;
      serverResponse.response.forEach((res) => {
        let tweet = formatTweet(res)
        tweets_list += tweet
      })
      titleBlock.innerHTML = tweets_list
    }
    xhr.send()
  </script>
{% endblock content %}