{% extends 'base.html' %}

{% block title %}
Sharing Thoughts
{% endblock title %}

{% block content %}
  <div id="error-container" class="d-none alert alert-danger mt-2">
  </div>
  <form method="POST" id="tweet-create-form" action="/create-tweet">
    {% csrf_token %}
    <div class="mb-3">
      <label class="form-label">Your Tweet</label>
      <textarea required="true" class="form-control" name='content'></textarea>
    </div>
    <button type="submit" class="btn btn-dark">Tweet</button>
  </form>

  <div id="tweets">
    Loading...
  </div>

  <script>

    var tweets_list = ''
    const tweetsContainer = document.getElementById('tweets')

    const loadTweets = (tweetsBlock) => {
      const xhr = new XMLHttpRequest()
      const method = 'GET'
      const url = '/tweets'
      const responseType = 'json'
      xhr.responseType = responseType
      xhr.open(method, url)
      xhr.onload = () => {
        serverResponse = xhr.response;
        serverResponse.response.forEach((res) => {
          let tweet = formatTweet(res)
          tweets_list += tweet
        })
        tweetsBlock.innerHTML = tweets_list
      }
      xhr.send()
    }

    // FORM RELATED FUNCTIONALITY

    const tweetCreateForm = document.getElementById('tweet-create-form')

    function handleTweetCreateFormDidSubmit(event) {
      event.preventDefault()
      const tweetForm = event.target
      const tweetFormData = new FormData(tweetForm)

    function handleTweetErrorForm(msg, display) {
      const errorContainer = document.getElementById('error-container')
      if (display) {
        errorContainer.innerHTML = msg;
        errorContainer.classList.remove('d-none')
        setTimeout(() => {
          errorContainer.classList.add('d-none')
        }, 5000);
      } else {
        errorContainer.setAttribute('class', 'd-none alert alert-danger mt-2')
      }
    }

      // Ajax Call
      const xhr = new XMLHttpRequest()
      const url = tweetForm.getAttribute('action')
      const method = tweetForm.getAttribute('method')
      const responseType = 'json'

      xhr.responseType = responseType
      xhr.open(method, url)
      xhr.setRequestHeader('HTTP_X_REQUESTED_WITH', 'XMLHttpRequest')
      xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest')
      xhr.onload = () => {
        if (xhr.status === 201) {
          handleTweetErrorForm('', false)
          const serverResponse = xhr.response
          const tweet = formatTweet(serverResponse)
          tweets = tweetsContainer.innerHTML
          tweetsContainer.innerHTML = tweet + tweets;
          tweetForm.reset()
        } else if (xhr.status === 400) {
          const serverErrorResponse = xhr.response
          const errorMessageList = serverErrorResponse['content']
          errorMessageList.forEach((errorMessage) => {
            handleTweetErrorForm(errorMessage, true)
          })
        } else if (xhr.status === 500) {
          handleTweetErrorForm('Internal Server Error', true)
        }
      }
      xhr.onerror = () => {
        alert("An error occurred. Please try again later.")
      }
      xhr.send(tweetFormData)
    }

    tweetCreateForm.addEventListener('submit', handleTweetCreateFormDidSubmit)

    function handleLikes(likes) {
      return likes += 1;
    }

    const formatTweet = (tweet) => {
      return `<div id="tweet-${tweet.id}" class="border p-3 my-2">
              <h5>${tweet.content}</h5>
              <button class="btn btn-sm btn-outline-dark" onclick="handleLikes(${tweet.likes})">Like <span>${tweet.likes}</span></button>
              </div>`
    }

    loadTweets(tweetsContainer)
  </script>
{% endblock content %}